doctype xml
rss(version='2.0', xmlns:content='http://purl.org/rss/1.0/modules/content/', xmlns:wfw='http://wellformedweb.org/CommentAPI/', xmlns:dc='http://purl.org/dc/elements/1.1/', xmlns:atom='http://www.w3.org/2005/Atom', xmlns:sy='http://purl.org/rss/1.0/modules/syndication/', xmlns:slash='http://purl.org/rss/1.0/modules/slash/')
    channel
        title marinatravelblog.com
        link http://marinatravelblog.com
        atom:link(href='http://marinatravelblog.com/feed/', rel='self', type='application/rss+xml')
        description Наша кругосветка и другие самостоятельные путешествия по Европе, Азии, США и Латинской Америке!
        language ru-RU
        if content.posts.length
            lastBuildDate= new Date(content.posts[0].meta.publishedDate).toUTCString()
        sy:updatePeriod hourly
        sy:updateFrequency 1
        each post in content.posts
            item
                title= post.meta.title
                link=post.slug
                description
                    | <![CDATA[
                    !{post.summary.replace(/<div.*?>[^]*?<noscript.*?>([^]*?)<\/noscript>[^]*?<\/div>/g, '$1')}
                    a(href=post.meta.link)!=post.more
                    | ]]>
                pubDate= new Date(post.meta.publishedDate).toUTCString()
                guid(isPermaLink='false')=post.meta.link
                if post.meta.categories
                    each category in post.meta.categories
                        category=category