article
    header
        script(type="application/ld+json")!=content.meta.articleSchema
        h1
            a(href=content.meta.link)=content.meta.title
        div.post-info
            if content.categoriesEx && content.categoriesEx.length
                - var tag;
                if (content.meta.categories.length + content.meta.tags.length > 5)
                    - tag = 'div';
                else
                    - tag = 'span';
                #{tag}.categories
                    i.fa.fa-sitemap
                    each item,index in content.categoriesEx
                        a(href=item.url,target='_blank')=item.name
                        if item.children
                            if content.categoriesEx[index + 1] && !content.categoriesEx[index + 1].children
                                | &nbsp>
                            else
                                | ,
                        else
                            if content.categoriesEx[index + 1]
                                | ,
            if content.tagsEx && content.tagsEx.length
                span.tags
                    i.fa.fa-tags
                    each item,index in content.tagsEx
                        a(href=item.url,target='_blank')=item.name
                        if content.tagsEx[index + 1]
                            | ,
            if content.meta.showDate
                span.date
                    i.fa.fa-calendar
                    span
                        | !{content.meta.modifiedDateFormatted}
    .post-content
        | !{content.html}
    footer
        if content.meta.type === 'post'
            br
            p
                strong Понравилась запись? Обязательно поделись! :)
            //div#uptolike_holder_bottom
            script.share-js(type='text/javascript', data-src='//yastatic.net/es5-shims/0.0.2/es5-shims.min.js', charset='utf-8', async)
            script.share-js(type='text/javascript', data-src='//yastatic.net/share2/share.js', charset='utf-8', async)
            #social-btns-side.hidden-xs.hidden-sm.ya-share2(data-services='facebook,vkontakte,telegram,viber', data-counter='')
            #social-btns-bottom.ya-share2(data-services='facebook,vkontakte,telegram,viber', data-counter='')
            strong
                br
                p Подпишись и будь в курсе всех новостей! :)

                .subscribe-block
                    a.subscribe-link(href='https://t.me/marinatravelblog', target="_blank", rel="nofollow", onclick="trackOutboundLink('t.me/marinatravelblog');return false;")
                        span.fa.fa-telegram
                        |&nbsp;Telegram
                        //span.pipe
                        //| |
                    a.subscribe-link(href='https://www.facebook.com/marinatravelblog', target="_blank", rel="nofollow", onclick="trackOutboundLink('www.facebook.com/marinatravelblog');return false;")
                        span.fa.fa-facebook-square(style="margin-left: 0.8em;")
                        |&nbsp;Facebook
                        //span.pipe
                        //| |
                    a.subscribe-link(href='https://vk.com/marinatravelblog', target="_blank", rel="nofollow", onclick="trackOutboundLink('vk.com/marinatravelblog');return false;")
                        span.fa.fa-vk(style="margin-left: 0.8em;")
                        |&nbsp;Vkontakte
                        //span.pipe
                        //| |
                    a.subscribe-link(href='https://www.youtube.com/c/marinatravelblog?sub_confirmation=1', target="_blank", rel="nofollow")
                        span.fa.fa-youtube-square(style="margin-left: 0.8em;")
                        |&nbsp;Youtube
                        //span.pipe
                        //| |
                    a.subscribe-link(href='https://eepurl.com/dMcarI', target="_blank", rel="nofollow")
                        span.fa.fa-envelope(style="margin-left: 0.8em;")
                        |&nbsp;E-mail

            .related-posts
                each relPostEntry in content.related
                    if relPostEntry.content && relPostEntry.content.length > 0
                        p.header= relPostEntry.text
                        ul.list
                            each relPost in relPostEntry.content
                                li
                                    a(href=relPost.meta.link)=relPost.meta.title
            br
            p
                strong Остались вопросы? Есть уточнения или дополнения? Оставь комментарий!
            if (content.meta.slug !== '404')
                #uptolike_holder_side
                .comments-type Комментируем через Facebook:
                .fb-comments.lazy-fb-comments(data-href=content.meta.link, data-numposts='5', data-width='100%')
                .comments-type Комментируем через Disqus:
                #disqus_thread.lazy-disqus
                noscript
                    p Включите JavaScript в Вашем браузере, чтобы сделать доступными комментарии.

        #mobile-social-bar.hide
            a.btn.btn-social-icon.btn-facebook(href="/")
                span.button
                    span.fa.fa-home
                    .text
                        | Главная
            a.btn.btn-social-icon.btn-facebook#mobile-subscribe-btn(href="#")
                span.button
                    span.fa.fa-telegram
                    .text
                        | Подписаться
            a.btn.btn-social-icon.btn-facebook#mobile-share-btn(href="#")
                span.button
                    span.fa.fa-share
                    .text
                        | Поделиться
        .modal.hide#subscribe-modal(tabindex='-1', role='dialog', aria-labelledby='subscribe-modal')
            .modal-dialog.modal-sm(role='document')
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4.modal-title Подписаться
                .modal-content
                    p.method
                        | Присоединись к 20000+ наших читателей!
                    .subsribe-block
                        a.subscribe-link(href='https://t.me/marinatravelblog', target='_blank', rel='nofollow')
                            span.fa.fa-telegram
                            | Telegram
                        a.subscribe-link(href='https://www.facebook.com/marinatravelblog', target='_blank', rel='nofollow')
                            span.fa.fa-facebook-square
                            | Facebook
                        a.subscribe-link(href='https://www.youtube.com/c/marinatravelblog?sub_confirmation=1', target='_blank', rel='nofollow')
                            span.fa.fa-youtube-square
                            | Youtube
                        a.subscribe-link(href='https://eepurl.com/dMcarI', target='_blank', rel='nofollow')
                            span.fa.fa-envelope
                            | E-mail
        .modal.hide#share-modal(tabindex='-1', role='dialog', aria-labelledby='share-modal')
            .modal-dialog.modal-sm(role='document')
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4.modal-title Понравилась запись?
                .modal-content
                    p
                        | Поделись с друзьями в соцсетях&nbsp;:)
                    #social-btns-popup.ya-share2(data-services='facebook,vkontakte,pocket,telegram,viber', data-counter='')


.modal.hide#subscribe-modal(tabindex='-1', role='dialog', aria-labelledby='subscribe-modal')
    .modal-dialog.modal-sm(role='document')
        .modal-content
            button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            p.method
                | Присоединись к 12000+ наших читателей!
            .subsribe-block
                a.subscribe-link(href='https://t.me/marinatravelblog', target='_blank', rel='nofollow')
                    span.fa.fa-telegram
                    | Telegram
                a.subscribe-link(href='https://www.facebook.com/marinatravelblog', target='_blank', rel='nofollow')
                    span.fa.fa-facebook-square
                    | Facebook
                a.subscribe-link(href='https://www.youtube.com/c/marinatravelblog?sub_confirmation=1', target='_blank', rel='nofollow')
                    span.fa.fa-youtube-square
                    | Youtube
                a.subscribe-link(href='https://eepurl.com/dMcarI', target='_blank', rel='nofollow')
                    span.fa.fa-envelope
                    | E-mail

.modal.hide#share-modal(tabindex='-1', role='dialog', aria-labelledby='share-modal')
    .modal-dialog.modal-sm(role='document')
        .modal-content
            button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            p
                | Поделись с друзьями в соцсетях&nbsp;:)
            #social-btns-popup.ya-share2(data-services='facebook,vkontakte,viber,telegram', data-counter='')

.modal.hide#subscribe-popup(tabindex='-1', role='dialog', aria-labelledby='share-modal')
    .modal-dialog.modal-lg(role='document')
        .modal-content
            .background
            button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            h3 Любишь путешествовать?
            p
                | Присоединись к 12000+ наших читателей, чтобы не пропускать рассказы об интересных местах и советы о путешествиях:
            p
                | ✔ 1-2 статьи в неделю в блоге
            p
                | ✔ новости и фото из поездок, ивенты на Facebook
            p
                | ✔ лайфхаки и скидки
            p
                | ✔ ноль спама
            div.subscribe-block-wrapper
                .subscribe-block
                    a.subscribe-link(href='https://t.me/marinatravelblog', target='_blank', rel='nofollow')
                        span.fa.fa-telegram
                        | Telegram
                    a.subscribe-link(href='https://www.facebook.com/marinatravelblog', target='_blank', rel='nofollow')
                        span.fa.fa-facebook-square
                        | Facebook
                    a.subscribe-link(href='https://eepurl.com/dMcarI', target='_blank', rel='nofollow')
                        span.fa.fa-envelope
                        | E-mail

script
    | var slug='#{content.meta.slug}',post_id='#{content.meta.id}',shortLink='#{content.meta.shortLink}',disqus_title='#{content.meta.title}';
    if typeof content.meta.subscribePopup !== 'undefined'
        | var subscribePopupValue=#{content.meta.subscribePopup};
