article
    header
        script(type="application/ld+json")!=content.meta.articleSchema
        h1
            a(href=content.meta.link)=content.meta.title
        div.post-info
            if content.categoriesEx && content.categoriesEx.length
                - var tag;
                if (content.meta.categories.length + content.meta.tags.length > 5)
                    - tag = 'div';
                else
                    - tag = 'span';
                #{tag}.categories
                    i.fa.fa-sitemap
                    each item,index in content.categoriesEx
                        a(href=item.url,target='_blank')=item.name
                        if item.children
                            if content.categoriesEx[index + 1] && !content.categoriesEx[index + 1].children
                                | &nbsp>
                            else
                                | ,
                        else
                            if content.categoriesEx[index + 1]
                                | ,
            if content.tagsEx && content.tagsEx.length
                span.tags
                    i.fa.fa-tags
                    each item,index in content.tagsEx
                        a(href=item.url,target='_blank')=item.name
                        if content.tagsEx[index + 1]
                            | ,
            if content.meta.showDate
                span.date
                    i.fa.fa-calendar
                    span
                        | !{content.meta.modifiedDateFormatted}
    .post-content
        | !{content.html}
    footer
        if content.meta.type === 'post'
            br
            p
                strong Понравилась запись? Обязательно поделись! :)
            //div#uptolike_holder_bottom
            script(type='text/javascript', src='//yastatic.net/es5-shims/0.0.2/es5-shims.min.js', charset='utf-8', async)
            script(type='text/javascript', src='//yastatic.net/share2/share.js', charset='utf-8', async)
            #social-btns-side.hidden-xs.hidden-sm.ya-share2(data-services='facebook,vkontakte,evernote,pocket,whatsapp', data-counter='')
            #social-btns-bottom.ya-share2(data-services='facebook,vkontakte,evernote,pocket,whatsapp', data-counter='')
            strong
                br
                p Подпишись и будь в курсе всех новостей! :)
                a(href='https://www.facebook.com/marinatravelblog')  Facebook |
                a(href='https://www.youtube.com/c/marinatravelblog?sub_confirmation=1')  Youtube |
                a(href='http://marinatravelblog.com/feed.xml')  RSS |
                a(href='http://feedburner.google.com/fb/a/mailverify?uri=marinatravelblogcom&loc=ru_RU')  E-mail
            br
            br
            p
            .related-posts
                each relPostEntry in content.related
                    if relPostEntry.content && relPostEntry.content.length > 0
                        p.header= relPostEntry.text
                        ul.list
                            each relPost in relPostEntry.content
                                li
                                    a(href=relPost.meta.link)=relPost.meta.title
            br
            p
                strong Остались вопросы? Есть уточнения или дополнения? Оставь комментарий!
            if (content.meta.slug !== '404')
                #uptolike_holder_side
                .comments-type Комментируем через Facebook:
                .fb-comments(data-href=content.meta.link, data-numposts='5', data-width='100%')
                .comments-type Комментируем через Disqus:
                #disqus_thread
                noscript
                    p Включите JavaScript в Вашем браузере, чтобы сделать доступными комментарии.
script
    | var slug='#{content.meta.slug}',post_id='#{content.meta.id}',shortLink='#{content.meta.shortLink}',disqus_title='#{content.meta.title}';
