article
    header
        h1
            a(href=content.meta.link)=content.meta.title
    !{content.html}
    footer
        if content.meta.type === 'post'
            .related-posts
                each relPostEntry in content.related
                    if relPostEntry.content && relPostEntry.content.length > 0
                        p.header= relPostEntry.text
                        ul.list
                            each relPost in relPostEntry.content
                                li
                                    a(href=relPost.meta.link)=relPost.meta.title
        div#disqus_thread
        noscript
            p Включите JavaScript в Вашем браузере, чтобы сделать доступными комментарии.
script
    |var slug='#{content.meta.slug}',post_id='#{content.meta.id}',shortLink='#{content.meta.shortLink}',disqus_title='#{content.meta.title}';
