doctype html
// TODO ie checks
html(lang='ru')
    head
        meta(http-equiv='content-type', content='text/html; charset=utf-8')
        //TODO meta tags here
        title marinatravelblog
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/travel-style.css')
        link(rel='stylesheet', href='/css/lazy-img.css')
        link(rel='stylesheet', href='/css/return-to-top.css')
    body
        .container-fluid#top
            .row!=widgets.menu
            .row
                .col-md-1
                .col-md-7.post!= content
                .col-md-3!=widgets['sidebar-right']
                .col-md-1
            .row
                .col-sm-12
        !{widgets['footer']}