doctype html
// TODO ie checks
html(lang='ru-RU',itemscope, itemtype='http://schema.org/Article',prefix="og: http://ogp.me/ns#")
    head
        meta(http-equiv='content-type', content='text/html; charset=utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title= meta.title || 'marinatravelblog'

        //[css
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/lazy-img.css')
        link(rel='stylesheet', href='/css/return-to-top.css')
        link(rel='stylesheet', href='/css/travel-style.css')
        //css]

        a(rel='author', href='https://plus.google.com/113719564593581367589/')

        link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')

        if meta.seo
            if meta.seo.description
                meta(name="description", itemprop="description", content=meta.seo.description )
                meta(property="og:description", content=meta.seo.description )
                meta(name='twitter:description', content=meta.seo.description)
            if meta.seo.title
                meta(property='og:title', content=meta.seo.title)
                meta(name='twitter:title', content=meta.seo.title)
            //if !meta.seo.keywords.join
            //    - console.log(meta.seo.keywords)
            //if meta.seo.keywords && meta.seo.keywords.join
            //    meta(name='keywords', itemprop='keywords', content=meta.seo.keywords.join(','))
            //    each kw in meta.seo.keywords
            //        meta(property='article:tag', content=kw)
            if (meta.link)
                link(rel='canonical', href=meta.link)
                meta(property='og:url', content=meta.link)
                meta(property='og:type', content='article')
            meta(property='og:site_name', content='marinatravelblog.com')
            meta(property='og:site_name', content='Наша кругосветка и другие путешествия!')
            meta(property='og:image', content=meta.img)
            meta(property='fb:admins', content='maryna.sukhomlynova')
            meta(property='fb:admins', content='1581443312144127')
            meta(property='fb:admins', content='990165311025249')
            meta(property='fb:app_id', content='810214915703818')
            if meta.publishedDate
                meta(property='article:published_time', content=meta.publishedDate.toISOString())
            if meta.modifiedDate
                meta(property='article:modified_time', content=meta.modifiedDate.toISOString())
            meta(name='twitter:card', content='summary_large_image')
            meta(name='twitter:site', content='marinatravelblog.com')
            meta(name='twitter:creator', content='@marinatravelblg')
            if meta.img
                meta(property='og:image', content=meta.img)
                meta(name='twitter:image', content=meta.img)
                meta(itemprop='image', content=meta.img)

    body
        .container-fluid#top
            | !{widgets.banner}
            .row!=widgets.menu
            .row
                .col-lg-1
                .col-md-8.col-lg-7.post!= content
                .col-md-4.col-lg-3!=widgets['sidebar-right']
                .col-lg-1
        | !{widgets['footer']}