- carousel_id = 'img-carousel-'+index
div.carousel.img-carousel.slide(data-ride='carousel', id=carousel_id, data-interval=5000)
    ol.carousel-indicators
     - var i = 0
     while i < imgs.length
         - active = 'none'
         if (i === 0)
            - active = 'active'
         li(data-target='#'+carousel_id, data-slide-to=i, class=active)
         - i++

    div.carousel-inner(role='listbox')
     - var i = 0
     while i < imgs.length
         - active = ''
         if (i === 0)
             - active = 'active'
         div.item(class=active)
             if (i === 0 || i === 1)
                | !{imgs[i]}
             else if imgs[i].includes('xlg')
                | !{imgs[i].replace(/src="[^"]*"/, ' ').replace(/srcset="[^"]*"/, ' ')}
             else
                | !{imgs[i].replace('src=','data-src=').replace('srcset=', 'data-srcset=')}
         - i++

    a.left.carousel-control(href="#"+carousel_id, role="button", data-slide="prev")
        span.fa.fa-angle-left(area-hidden='true')
        span.sr-only
            | Previous
    a.right.carousel-control(href="#"+carousel_id, role="button", data-slide="next")
        span.fa.fa-angle-right(area-hidden='true')
        span.sr-only
            | Previous